.cursor {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-left: 5px;
  background-color: #333;
  animation: blink 0.75s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
