.col-container {
  display: flex;
  flex-flow: column;
  padding: 24px;
  height: 100%;
  width: 50%;

  .textarea {
    height: 388px;
    font-size: 18px;
    margin-bottom: 2rem;
    width: 50%;
  }
}

.submit-container {
  display: flex;
}
.submit-btn {
  border-radius: 20px;
  background-color: #ff8a71;
  border: none;
  color: black;

  margin-right: 2rem;

  font-size: 18px;

  width: 130px;
  height: 45px;
  cursor: pointer;
}
.alt-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}
